web/WEB-INF/wsdl/localhost_9003/pubusr.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.lab01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.lab01/" name="PublicadorUsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.lab01/" schemaLocation="http://localhost:9003/pubusr?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="setNickname">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setNicknameResponse"></message>
<message name="getNickname">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getNicknameResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="ingresarDatos">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dtoIngresarDatos"></part>
</message>
<message name="ingresarDatosResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getCtrlUsuario"></message>
<message name="getCtrlUsuarioResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="releaseCtrlUsuario">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="releaseCtrlUsuarioResponse"></message>
<message name="registrarCliente">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dtoRegistrarCliente"></part>
</message>
<message name="registrarClienteResponse"></message>
<message name="registrarRestaurante">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dataRestaurante"></part>
</message>
<message name="registrarRestauranteResponse"></message>
<message name="datosAdicionales">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dtoDatosAdicionales"></part>
</message>
<message name="datosAdicionalesResponse"></message>
<message name="getUsuarioByNickname">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getUsuarioByNicknameResponse">
<part name="return" type="tns:dataCliente"></part>
</message>
<message name="getRestauranteByNickname">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getRestauranteByNicknameResponse">
<part name="return" type="tns:dataRestaurante"></part>
</message>
<message name="registrarCat">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="registrarCatResponse"></message>
<message name="existeUsuario">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="existeUsuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="existeNickname">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="existeNicknameResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="existeMail">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="existeMailResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getByMail">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getByMailResponse">
<part name="return" type="tns:dataCliente"></part>
</message>
<message name="buscarRestaurantes">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="buscarRestaurantesResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<portType name="PublicadorUsuario">
<operation name="setNickname" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/setNicknameRequest" message="tns:setNickname"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/setNicknameResponse" message="tns:setNicknameResponse"></output>
</operation>
<operation name="getNickname">
<input wsam:Action="http://server.lab01/PublicadorUsuario/getNicknameRequest" message="tns:getNickname"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/getNicknameResponse" message="tns:getNicknameResponse"></output>
</operation>
<operation name="ingresarDatos" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/ingresarDatosRequest" message="tns:ingresarDatos"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/ingresarDatosResponse" message="tns:ingresarDatosResponse"></output>
</operation>
<operation name="getCtrlUsuario">
<input wsam:Action="http://server.lab01/PublicadorUsuario/getCtrlUsuarioRequest" message="tns:getCtrlUsuario"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/getCtrlUsuarioResponse" message="tns:getCtrlUsuarioResponse"></output>
</operation>
<operation name="releaseCtrlUsuario">
<input wsam:Action="http://server.lab01/PublicadorUsuario/releaseCtrlUsuarioRequest" message="tns:releaseCtrlUsuario"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/releaseCtrlUsuarioResponse" message="tns:releaseCtrlUsuarioResponse"></output>
</operation>
<operation name="registrarCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/registrarClienteRequest" message="tns:registrarCliente"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/registrarClienteResponse" message="tns:registrarClienteResponse"></output>
</operation>
<operation name="registrarRestaurante" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/registrarRestauranteRequest" message="tns:registrarRestaurante"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/registrarRestauranteResponse" message="tns:registrarRestauranteResponse"></output>
</operation>
<operation name="datosAdicionales" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/datosAdicionalesRequest" message="tns:datosAdicionales"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/datosAdicionalesResponse" message="tns:datosAdicionalesResponse"></output>
</operation>
<operation name="getUsuarioByNickname" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/getUsuarioByNicknameRequest" message="tns:getUsuarioByNickname"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/getUsuarioByNicknameResponse" message="tns:getUsuarioByNicknameResponse"></output>
</operation>
<operation name="getRestauranteByNickname" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/getRestauranteByNicknameRequest" message="tns:getRestauranteByNickname"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/getRestauranteByNicknameResponse" message="tns:getRestauranteByNicknameResponse"></output>
</operation>
<operation name="registrarCat" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/registrarCatRequest" message="tns:registrarCat"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/registrarCatResponse" message="tns:registrarCatResponse"></output>
</operation>
<operation name="existeUsuario" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://server.lab01/PublicadorUsuario/existeUsuarioRequest" message="tns:existeUsuario"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/existeUsuarioResponse" message="tns:existeUsuarioResponse"></output>
</operation>
<operation name="existeNickname" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/existeNicknameRequest" message="tns:existeNickname"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/existeNicknameResponse" message="tns:existeNicknameResponse"></output>
</operation>
<operation name="existeMail" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/existeMailRequest" message="tns:existeMail"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/existeMailResponse" message="tns:existeMailResponse"></output>
</operation>
<operation name="getByMail" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/getByMailRequest" message="tns:getByMail"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/getByMailResponse" message="tns:getByMailResponse"></output>
</operation>
<operation name="buscarRestaurantes" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorUsuario/buscarRestaurantesRequest" message="tns:buscarRestaurantes"></input>
<output wsam:Action="http://server.lab01/PublicadorUsuario/buscarRestaurantesResponse" message="tns:buscarRestaurantesResponse"></output>
</operation>
</portType>
<binding name="PublicadorUsuarioPortBinding" type="tns:PublicadorUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="setNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="ingresarDatos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getCtrlUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="releaseCtrlUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="registrarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="registrarRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="datosAdicionales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getUsuarioByNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getRestauranteByNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="registrarCat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="existeUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="existeNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="existeMail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getByMail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="buscarRestaurantes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorUsuarioService">
<port name="PublicadorUsuarioPort" binding="tns:PublicadorUsuarioPortBinding">
<soap:address location="http://localhost:9003/pubusr"></soap:address>
</port>
</service>
</definitions>