xml-resources/web-service-references/pubped/wsdl/localhost_9003/pubped.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.lab01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.lab01/" name="PublicadorPedidoService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.lab01/" schemaLocation="http://localhost:9003/pubped?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getId"></message>
<message name="getIdResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="existCfgFile"></message>
<message name="existCfgFileResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="createCfgFile"></message>
<message name="createCfgFileResponse"></message>
<message name="setNickname">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setNicknameResponse"></message>
<message name="setMailCliente">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setMailClienteResponse"></message>
<message name="setMemCliente">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="setMemClienteResponse"></message>
<message name="setCat">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setCatResponse"></message>
<message name="getCat">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getCatResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getNickname">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getNicknameResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="devListaDC">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="devListaDCResponse">
<part name="return" type="tns:dataClienteArray"></part>
</message>
<message name="devListaDR">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="devListaDRResponse">
<part name="return" type="tns:dataRestauranteArray"></part>
</message>
<message name="setMemRestaurante">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setMemRestauranteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="retColDCat">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="retColDCatResponse">
<part name="return" type="tns:dataCategoriaArray"></part>
</message>
<message name="devListaProductos">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="devListaProductosResponse">
<part name="return" type="tns:dataProducto"></part>
</message>
<message name="selectProductos">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="selectProductosResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="setMonto">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="setMontoResponse"></message>
<message name="altaPedido">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="altaPedidoResponse">
<part name="return" type="tns:dataPedido"></part>
</message>
<message name="listDataPedidos">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listDataPedidosResponse">
<part name="return" type="tns:dataPedidoArray"></part>
</message>
<message name="actualizarEPedido">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="tns:estados"></part>
</message>
<message name="actualizarEPedidoResponse"></message>
<message name="actualizarEPedidoCDatos">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="tns:estados"></part>
<part name="arg4" type="xsd:string"></part>
</message>
<message name="actualizarEPedidoCDatosResponse"></message>
<message name="setDp">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dataPedido"></part>
</message>
<message name="setDpResponse"></message>
<message name="getDp">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getDpResponse">
<part name="return" type="tns:dataPedido"></part>
</message>
<message name="setMemoriaCliente">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="setMemoriaClienteResponse"></message>
<message name="limpiarCtrl">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="limpiarCtrlResponse"></message>
<message name="cancelarPedido">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:long"></part>
</message>
<message name="cancelarPedidoResponse"></message>
<message name="listaPedidosRecibidos">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listaPedidosRecibidosResponse">
<part name="return" type="tns:dataPedidoArray"></part>
</message>
<message name="actualizarPromedioRest">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="actualizarPromedioRestResponse"></message>
<message name="altaEvaluacion">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:double"></part>
<part name="arg2" type="tns:dtoEvaluacion"></part>
</message>
<message name="altaEvaluacionResponse"></message>
<message name="listarEvaluacionesRest">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listarEvaluacionesRestResponse">
<part name="return" type="tns:dtoEvaluacionArray"></part>
</message>
<message name="existeEvaluacionPedido">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:long"></part>
</message>
<message name="existeEvaluacionPedidoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getEvaluacionXid">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:long"></part>
</message>
<message name="getEvaluacionXidResponse">
<part name="return" type="tns:dtoEvaluacion"></part>
</message>
<message name="listaPedidos">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listaPedidosResponse">
<part name="return" type="tns:dataPedidoArray"></part>
</message>
<message name="actualizarFechaPedido">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="actualizarFechaPedidoResponse"></message>
<portType name="PublicadorPedido">
<operation name="getId">
<input wsam:Action="http://server.lab01/PublicadorPedido/getIdRequest" message="tns:getId"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/getIdResponse" message="tns:getIdResponse"></output>
</operation>
<operation name="existCfgFile">
<input wsam:Action="http://server.lab01/PublicadorPedido/existCfgFileRequest" message="tns:existCfgFile"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/existCfgFileResponse" message="tns:existCfgFileResponse"></output>
</operation>
<operation name="createCfgFile">
<input wsam:Action="http://server.lab01/PublicadorPedido/createCfgFileRequest" message="tns:createCfgFile"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/createCfgFileResponse" message="tns:createCfgFileResponse"></output>
</operation>
<operation name="setNickname" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/setNicknameRequest" message="tns:setNickname"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/setNicknameResponse" message="tns:setNicknameResponse"></output>
</operation>
<operation name="setMailCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/setMailClienteRequest" message="tns:setMailCliente"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/setMailClienteResponse" message="tns:setMailClienteResponse"></output>
</operation>
<operation name="setMemCliente">
<input wsam:Action="http://server.lab01/PublicadorPedido/setMemClienteRequest" message="tns:setMemCliente"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/setMemClienteResponse" message="tns:setMemClienteResponse"></output>
</operation>
<operation name="setCat" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/setCatRequest" message="tns:setCat"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/setCatResponse" message="tns:setCatResponse"></output>
</operation>
<operation name="getCat">
<input wsam:Action="http://server.lab01/PublicadorPedido/getCatRequest" message="tns:getCat"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/getCatResponse" message="tns:getCatResponse"></output>
</operation>
<operation name="getNickname">
<input wsam:Action="http://server.lab01/PublicadorPedido/getNicknameRequest" message="tns:getNickname"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/getNicknameResponse" message="tns:getNicknameResponse"></output>
</operation>
<operation name="devListaDC">
<input wsam:Action="http://server.lab01/PublicadorPedido/devListaDCRequest" message="tns:devListaDC"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/devListaDCResponse" message="tns:devListaDCResponse"></output>
</operation>
<operation name="devListaDR">
<input wsam:Action="http://server.lab01/PublicadorPedido/devListaDRRequest" message="tns:devListaDR"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/devListaDRResponse" message="tns:devListaDRResponse"></output>
</operation>
<operation name="setMemRestaurante" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/setMemRestauranteRequest" message="tns:setMemRestaurante"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/setMemRestauranteResponse" message="tns:setMemRestauranteResponse"></output>
</operation>
<operation name="retColDCat">
<input wsam:Action="http://server.lab01/PublicadorPedido/retColDCatRequest" message="tns:retColDCat"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/retColDCatResponse" message="tns:retColDCatResponse"></output>
</operation>
<operation name="devListaProductos">
<input wsam:Action="http://server.lab01/PublicadorPedido/devListaProductosRequest" message="tns:devListaProductos"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/devListaProductosResponse" message="tns:devListaProductosResponse"></output>
</operation>
<operation name="selectProductos" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://server.lab01/PublicadorPedido/selectProductosRequest" message="tns:selectProductos"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/selectProductosResponse" message="tns:selectProductosResponse"></output>
</operation>
<operation name="setMonto">
<input wsam:Action="http://server.lab01/PublicadorPedido/setMontoRequest" message="tns:setMonto"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/setMontoResponse" message="tns:setMontoResponse"></output>
</operation>
<operation name="altaPedido">
<input wsam:Action="http://server.lab01/PublicadorPedido/altaPedidoRequest" message="tns:altaPedido"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/altaPedidoResponse" message="tns:altaPedidoResponse"></output>
</operation>
<operation name="listDataPedidos">
<input wsam:Action="http://server.lab01/PublicadorPedido/listDataPedidosRequest" message="tns:listDataPedidos"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/listDataPedidosResponse" message="tns:listDataPedidosResponse"></output>
</operation>
<operation name="actualizarEPedido" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://server.lab01/PublicadorPedido/actualizarEPedidoRequest" message="tns:actualizarEPedido"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/actualizarEPedidoResponse" message="tns:actualizarEPedidoResponse"></output>
</operation>
<operation name="actualizarEPedidoCDatos" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://server.lab01/PublicadorPedido/actualizarEPedidoCDatosRequest" message="tns:actualizarEPedidoCDatos"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/actualizarEPedidoCDatosResponse" message="tns:actualizarEPedidoCDatosResponse"></output>
</operation>
<operation name="setDp" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/setDpRequest" message="tns:setDp"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/setDpResponse" message="tns:setDpResponse"></output>
</operation>
<operation name="getDp">
<input wsam:Action="http://server.lab01/PublicadorPedido/getDpRequest" message="tns:getDp"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/getDpResponse" message="tns:getDpResponse"></output>
</operation>
<operation name="setMemoriaCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/setMemoriaClienteRequest" message="tns:setMemoriaCliente"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/setMemoriaClienteResponse" message="tns:setMemoriaClienteResponse"></output>
</operation>
<operation name="limpiarCtrl">
<input wsam:Action="http://server.lab01/PublicadorPedido/limpiarCtrlRequest" message="tns:limpiarCtrl"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/limpiarCtrlResponse" message="tns:limpiarCtrlResponse"></output>
</operation>
<operation name="cancelarPedido" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/cancelarPedidoRequest" message="tns:cancelarPedido"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/cancelarPedidoResponse" message="tns:cancelarPedidoResponse"></output>
</operation>
<operation name="listaPedidosRecibidos" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/listaPedidosRecibidosRequest" message="tns:listaPedidosRecibidos"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/listaPedidosRecibidosResponse" message="tns:listaPedidosRecibidosResponse"></output>
</operation>
<operation name="actualizarPromedioRest" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/actualizarPromedioRestRequest" message="tns:actualizarPromedioRest"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/actualizarPromedioRestResponse" message="tns:actualizarPromedioRestResponse"></output>
</operation>
<operation name="altaEvaluacion" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://server.lab01/PublicadorPedido/altaEvaluacionRequest" message="tns:altaEvaluacion"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/altaEvaluacionResponse" message="tns:altaEvaluacionResponse"></output>
</operation>
<operation name="listarEvaluacionesRest" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/listarEvaluacionesRestRequest" message="tns:listarEvaluacionesRest"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/listarEvaluacionesRestResponse" message="tns:listarEvaluacionesRestResponse"></output>
</operation>
<operation name="existeEvaluacionPedido" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/existeEvaluacionPedidoRequest" message="tns:existeEvaluacionPedido"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/existeEvaluacionPedidoResponse" message="tns:existeEvaluacionPedidoResponse"></output>
</operation>
<operation name="getEvaluacionXid" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/getEvaluacionXidRequest" message="tns:getEvaluacionXid"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/getEvaluacionXidResponse" message="tns:getEvaluacionXidResponse"></output>
</operation>
<operation name="listaPedidos" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorPedido/listaPedidosRequest" message="tns:listaPedidos"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/listaPedidosResponse" message="tns:listaPedidosResponse"></output>
</operation>
<operation name="actualizarFechaPedido" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://server.lab01/PublicadorPedido/actualizarFechaPedidoRequest" message="tns:actualizarFechaPedido"></input>
<output wsam:Action="http://server.lab01/PublicadorPedido/actualizarFechaPedidoResponse" message="tns:actualizarFechaPedidoResponse"></output>
</operation>
</portType>
<binding name="PublicadorPedidoPortBinding" type="tns:PublicadorPedido">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="existCfgFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="createCfgFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setMailCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setMemCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setCat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getCat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="devListaDC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="devListaDR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setMemRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="retColDCat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="devListaProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="selectProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setMonto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="altaPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="listDataPedidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="actualizarEPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="actualizarEPedidoCDatos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setDp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getDp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setMemoriaCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="limpiarCtrl">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="cancelarPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="listaPedidosRecibidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="actualizarPromedioRest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="altaEvaluacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="listarEvaluacionesRest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="existeEvaluacionPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getEvaluacionXid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="listaPedidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="actualizarFechaPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorPedidoService">
<port name="PublicadorPedidoPort" binding="tns:PublicadorPedidoPortBinding">
<soap:address location="http://localhost:9003/pubped"></soap:address>
</port>
</service>
</definitions>