src/META-INF/wsdl/localhost_9002/pubprod.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.lab01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.lab01/" name="PublicadorProductoService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.lab01/" schemaLocation="http://localhost:9002/pubprod?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="registrarProducto">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dtoRegistrarProducto"></part>
</message>
<message name="registrarProductoResponse"></message>
<message name="existCfgFile"></message>
<message name="existCfgFileResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="createCfgFile"></message>
<message name="createCfgFileResponse"></message>
<message name="existeRestaurante">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="existeRestauranteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarIndividuales">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listarIndividualesResponse">
<part name="return" type="tns:dataIndividualArray"></part>
</message>
<message name="setPromo">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dataIndividualArray"></part>
</message>
<message name="setPromoResponse"></message>
<message name="armarPromo">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dtoArmarPromo"></part>
</message>
<message name="armarPromoResponse"></message>
<message name="actualizarIndividual">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dtoActualizarIndividual"></part>
</message>
<message name="actualizarIndividualResponse"></message>
<message name="actualizarPromocional">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:dtoActualizarPromocional"></part>
</message>
<message name="actualizarPromocionalResponse"></message>
<message name="getProdIndividualXNombre">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getProdIndividualXNombreResponse">
<part name="return" type="tns:dataIndividual"></part>
</message>
<message name="getProdPromocionalXNombre">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getProdPromocionalXNombreResponse">
<part name="return" type="tns:dataPromocional"></part>
</message>
<message name="getId"></message>
<message name="getIdResponse">
<part name="return" type="xsd:int"></part>
</message>
<portType name="PublicadorProducto">
<operation name="registrarProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/registrarProductoRequest" message="tns:registrarProducto"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/registrarProductoResponse" message="tns:registrarProductoResponse"></output>
</operation>
<operation name="existCfgFile">
<input wsam:Action="http://server.lab01/PublicadorProducto/existCfgFileRequest" message="tns:existCfgFile"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/existCfgFileResponse" message="tns:existCfgFileResponse"></output>
</operation>
<operation name="createCfgFile">
<input wsam:Action="http://server.lab01/PublicadorProducto/createCfgFileRequest" message="tns:createCfgFile"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/createCfgFileResponse" message="tns:createCfgFileResponse"></output>
</operation>
<operation name="existeRestaurante" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/existeRestauranteRequest" message="tns:existeRestaurante"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/existeRestauranteResponse" message="tns:existeRestauranteResponse"></output>
</operation>
<operation name="listarIndividuales" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/listarIndividualesRequest" message="tns:listarIndividuales"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/listarIndividualesResponse" message="tns:listarIndividualesResponse"></output>
</operation>
<operation name="setPromo" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/setPromoRequest" message="tns:setPromo"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/setPromoResponse" message="tns:setPromoResponse"></output>
</operation>
<operation name="armarPromo" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/armarPromoRequest" message="tns:armarPromo"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/armarPromoResponse" message="tns:armarPromoResponse"></output>
</operation>
<operation name="actualizarIndividual" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/actualizarIndividualRequest" message="tns:actualizarIndividual"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/actualizarIndividualResponse" message="tns:actualizarIndividualResponse"></output>
</operation>
<operation name="actualizarPromocional" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/actualizarPromocionalRequest" message="tns:actualizarPromocional"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/actualizarPromocionalResponse" message="tns:actualizarPromocionalResponse"></output>
</operation>
<operation name="getProdIndividualXNombre" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/getProdIndividualXNombreRequest" message="tns:getProdIndividualXNombre"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/getProdIndividualXNombreResponse" message="tns:getProdIndividualXNombreResponse"></output>
</operation>
<operation name="getProdPromocionalXNombre" parameterOrder="arg0 arg1">
<input wsam:Action="http://server.lab01/PublicadorProducto/getProdPromocionalXNombreRequest" message="tns:getProdPromocionalXNombre"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/getProdPromocionalXNombreResponse" message="tns:getProdPromocionalXNombreResponse"></output>
</operation>
<operation name="getId">
<input wsam:Action="http://server.lab01/PublicadorProducto/getIdRequest" message="tns:getId"></input>
<output wsam:Action="http://server.lab01/PublicadorProducto/getIdResponse" message="tns:getIdResponse"></output>
</operation>
</portType>
<binding name="PublicadorProductoPortBinding" type="tns:PublicadorProducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="registrarProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="existCfgFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="createCfgFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="existeRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="listarIndividuales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="setPromo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="armarPromo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="actualizarIndividual">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="actualizarPromocional">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getProdIndividualXNombre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getProdPromocionalXNombre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
<operation name="getId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.lab01/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorProductoService">
<port name="PublicadorProductoPort" binding="tns:PublicadorProductoPortBinding">
<soap:address location="http://localhost:9002/pubprod"></soap:address>
</port>
</service>
</definitions>