src/META-INF/wsdl/localhost_9003/pubped.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://server.lab01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.lab01/">

<xs:complexType name="dataPedido">
<xs:sequence>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio_total" type="xs:double"></xs:element>
<xs:element name="estado" type="tns:estados" minOccurs="0"></xs:element>
<xs:element name="nickUsr" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="mailUsr" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickRest" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ColCarrito" type="tns:dataCarrito" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCarrito">
<xs:sequence>
<xs:element name="nomProd" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promo" type="xs:boolean"></xs:element>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="precio" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataRestaurante">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pwd" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promedio" type="xs:float"></xs:element>
<xs:element name="lstImagen" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="ColCategoria" type="tns:dataCategoria" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="ColPromocionales" type="tns:dataPromocional" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="ColIndividuales" type="tns:dataIndividual" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCategoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPromocional">
<xs:sequence>
<xs:element name="DataActiva" type="xs:boolean"></xs:element>
<xs:element name="DataDescuento" type="xs:double"></xs:element>
<xs:element name="DataNombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="DataDescripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="DataPrecio" type="xs:double"></xs:element>
<xs:element name="DataImagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ColDatIndividual" type="tns:dataIndividual" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataIndividual">
<xs:sequence>
<xs:element name="DataNombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="DataDescripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="DataPrecio" type="xs:double"></xs:element>
<xs:element name="DataImagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cantidad" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCliente">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="fNac" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pwd" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProducto">
<xs:sequence>
<xs:element name="ColDatIndividual" type="tns:dataIndividual" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="ColDatPromocional" type="tns:dataPromocional" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtoEvaluacion">
<xs:sequence>
<xs:element name="comentario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="puntaje" type="xs:float"></xs:element>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estados">
<xs:restriction base="xs:string">
<xs:enumeration value="PREPARACION"></xs:enumeration>
<xs:enumeration value="ENVIADO"></xs:enumeration>
<xs:enumeration value="RECIBIDO"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="dataPedidoArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataPedido" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataRestauranteArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataRestaurante" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCategoriaArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataCategoria" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataClienteArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataCliente" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtoEvaluacionArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtoEvaluacion" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>